.header {
  &-logo {
    @media(min-width: 640px) {
      width: 300px;
    }
  }
  &-controls {
    width: 100%;
    margin-left: 40px;
    @media(min-width: 768px) {
      margin-left: 0;
    }
    @media(min-width: 1200px) {
      width: calc(100vw - 300px);
    }
  }
}

.profile {
  displaY: none;
  @media(min-width: 480px) {
    displaY: block;
  }
}

.player {
  > * {
    width: auto;
    padding: 25px 8px;
    height: 76px;
    color: white;
  }
  .seeker {
    flex: 1;
    padding-top: 28px;
    &-bar {
      display: inline-block;
      flex: 1;
      margin: 0 15px;
      padding: 8px 0;
      > * {
        height: 3px;
      }
    }
  }
}

.search-box {
  position: relative;
  i {
    position: absolute;
    top: calc(50% - 12px);
    left: 24px;
    color: white;
    transition: 0.3s;
  }
  input {
    height: 76px;
    background: none;
    border: none;
    color: white;
    padding: 24px 12px 24px 62px;
    font-size: 14px;
    width: 0;
    transition: 0.2s ease-in-out;
    &:focus, &.ng-valid {
      width: 245px;
    }
  }
}

.playing-track {
  height: 100%;
  display: flex;
  align-items: center;
  &-null &-img {
    background-color: #6200EE;
    i {
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 12px);
      color: #4C00D5;
    }
  }
  &-img {
    position: relative;
    overflow: hidden;
    width: 45px;
    height: 45px;
    border-radius: 3px;
    img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      height: 100%;
      max-width: none;
      width: auto;
    }
  }
  &-details {
    flex: 1;
  }
  &-details &-title {
    font-size: 14px;
  }
  &-details &-artist {
    font-weight: 300;
    opacity: 0.8;
    font-size: 12px;
  }
}

.device {
  i {
    font-size: 20px;
    position: relative;
    top: 4px;
    &.fa {
      top: 3px;
    }
  }
  &-active {
    color: #4C00D5;
    &-icon {
      margin-left: 2px;
    }
  }
}
