<div *ngIf="newReleases" class="px-4 pt-4 position-relative">
  <h6>New Releases</h6>
  <div class="box-items scrollbar d-flex mt-3" style="overflow: auto;">
    <div *ngFor="let item of newReleases.albums.items" class="box-item">
      <div class="box-item-img">
        <div>
          <a href="javascript:" (click)="playTrack(item.uri, null, null)"
            class="position-relative w-100 h-100 d-flex align-items-center justify-content-center color-black">
            <i class="material-icons-outlined">play_circle_filled</i>
          </a>
        </div>
        <img src="{{ item?.images[0].url }}">
      </div>
      <div class="box-item-details">
        <p class="box-item-details-title mt-3 mb-0">
          <small><a class="color-black" [routerLink]="['/albums', item.id]"><b>{{ item.name }}</b></a></small>
        </p>
        <p class="box-item-details-artists my-0 text-secondary">
          <small><a class="text-secondary" [routerLink]="['/artists', item.artists[0]?.id]">{{ item.artists[0]?.name }}</a> &middot; {{ item.total_tracks }} Track{{ item.total_tracks == 1 ? '' : 's' }}</small>
        </p>
      </div>
    </div>
  </div>
</div>
