.box-items {
  flex-wrap: wrap;
  &::after {
    content: initial;
  }
}
.box-item {
  display: inline-block;
  margin-bottom: 30px;
  &-img {
    width: 200px;
    height: 200px;
  }
  &-details {
    width: 200px;
  }
}
