.featured-tracks {
  &::after {
    content: '';
    position: absolute;
    right: 0;
    height: calc(100% - 48px);
    width: 200px;
    background-image: linear-gradient(to right, transparent 0, white 120%);
  }
}

.featured-track {
  &:not(:last-child) {
    margin-right: 15px
  }
  &-img {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      height: 100%;
      max-width: none;
      width: auto;
    }
    div {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(#ECE0FD, 0.9);
      opacity: 0;
      transition: 0.2s;
      i {
        color: #6200EE;
        font-size: 40px;
      }
    }
        &:hover {
          div {
            opacity: 1;
          }
        }
  }
  &-details {
    width: 150px;
    &-title {
      line-height: 18px;
    }
  }
}
