<div class="app-container pb-4">
  <div class="px-4 pt-4 position-relative">
    <h6>Search Results for: &nbsp; <b>"{{ searchQuery }}"</b></h6>

    <div class="tabs">
      <ul class="tabs-list">
        <li data-target="#tab-tracks"    class="tabs-item active"><i class="material-icons-outlined">music_note</i><span>Tracks</span></li>
        <li data-target="#tab-artists"   class="tabs-item"><i class="material-icons-outlined">person</i><span>Artists</span></li>
        <li data-target="#tab-albums"    class="tabs-item"><i class="material-icons-outlined">library_books</i><span>Albums</span></li>
        <li data-target="#tab-playlists" class="tabs-item"><i class="material-icons-outlined">playlist_play</i><span>Playlists</span></li>
      </ul>
      <div class="tabs-content">
        <div class="active" id="tab-tracks">
          <app-tracks-list [tracks]="tracks" [uris]="uris"></app-tracks-list>
        </div>
        <div id="tab-artists">
          <app-artists-list [artists]="artists"></app-artists-list>
        </div>
        <div id="tab-albums">
          <app-albums-list [albums]="albums"></app-albums-list>
        </div>
        <div id="tab-playlists">
          <app-playlists-list [playlists]="playlists"></app-playlists-list>
        </div>
      </div>
    </div>

  </div>

  <nav class="d-none navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
      <div>
        <a href="#" class="navbar-brand font-weight-bold">Multilevel Dropdown</a>
        <button type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <!-- Level one dropdown -->
          <li class="nav-item dropdown">
            <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Dropdown</a>
            <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="#" class="dropdown-item">Some action </a></li>
              <li><a href="#" class="dropdown-item">Some other action</a></li>

              <li class="dropdown-divider"></li>

              <!-- Level two dropdown-->
              <li class="dropdown-submenu">
                <a id="dropdownMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Hover for action</a>
                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">level 2</a></li>
                  <li><a href="#" class="dropdown-item">level 2</a></li>
                </ul>
              </li>
              <!-- End Level two -->
            </ul>
          </li>
          <!-- End Level one -->

          <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div>
