thead th, td, th {
  border: none;
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}

@media (hover: hover) {
  tbody tr:hover td {
    background-color: #ECE0FD;
    &, a, i {
      color: black !important;
    }
  }
}

.track-checkbox {
  padding-left: 0;
  padding-right: 0;
  width: 0;
  transition: padding 0.2s, width 0.2s;
  input {
    display: none;
  }
  i {
    width: 0;
    opacity: 0;
    transition: 0.2s;
  }
}

table.has-selection .track-checkbox {
  padding-left: 15px;
}

table.has-selection thead:hover .track-checkbox,
table.has-selection tr.checked .track-checkbox {
  i {
    width: auto;
    opacity: 1;
  }
}

table.has-selection {
  .track-number {
    border-radius: 0 !important;
  }
}

tr {

  td, th {
    font-size: 14px;
    i:not(.fa) {
      margin-top: -9px;
      position: relative;
      top: 6px;
    }
  }

  th {
    color: black;
    border-bottom: 1px solid #F4F4F4 !important;
  }

  td {
    font-weight: 500;
    &, a, i {
      color: #6c757d;
    }
  }

  td.track-number {
    position: relative;
    padding-left: 15px;
    border-radius: 4px 0 0 4px;
    span { display: block; }
    a {
      display: none;
      position: absolute;
      left: 7px;
    }
  }

  &:hover {
    td.track-number {
      @media (hover: hover) {
        a { display: block; }
        span { display: none; }
      }
    }
  }

  &.active-track {
    td {
      &.track-number {
        a { display: block; }
        span { display: none; }
      }
      &, a, i {
        color: #6200EE;
      }
    }
  }

}
