<div class="scrollbar w-100" style=" min-height: 300px">
  <table class="tracklist-desktop d-none d-md-block table table-purple mb-0{{ class ? ' ' + class : '' }}">
    <thead>
      <tr>
        <th class="track-checkbox">
          <input type="checkbox">
          <i class="material-icons-outlined">done_all</i>
        </th>
        <th scope="col" style="width: 50px; padding-left: 15px;">#</th>
        <th scope="col" style="min-width: 270px">Song</th>
        <th *ngIf="!hideArtists" scope="col" style="min-width: 270px">Artists</th>
        <th *ngIf="!hideAlbums" scope="col" style="min-width: 270px">Album</th>
        <th *ngIf="tracks && getItem(tracks[0])?.popularity" scope="col" style="width: 100px">Popularity</th>
        <th scope="col" style="width: 100px">Time</th>
        <th *ngIf="!hideOptions" scope="col" style="width: 170px;">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tracks; index as i;"
        [class]="getItem(item)?.id == currentTrackId ? 'active-track' : ''"
        (click)="rowClick(contextUri, uris, getItem(item).uri); select($event);">
        <td class="track-checkbox">
          <input type="checkbox">
          <i class="material-icons-outlined">done</i>
        </td>
        <td class="track-number">
          <span>{{ i + 1 }}</span>
          <a href="javascript:" (click)="playTrack(contextUri, uris, getItem(item).uri)">
            <i class="material-icons-outlined">play_circle_filled_white</i></a>
        </td>
        <td>{{ getItem(item)?.name }}</td>
        <td *ngIf="!hideArtists">
          <span *ngFor="let artist of getItem(item)?.artists; index as j;">
            <a routerLink="/artists/{{ artist.id }}">{{ artist.name }}</a>
            <span *ngIf="j < getItem(item)?.artists.length - 1">, </span>
          </span>
        </td>
        <td *ngIf="!hideAlbums"><a routerLink="/albums/{{ getItem(item).album?.id }}">{{ getItem(item).album?.name }}</a></td>
        <td *ngIf="tracks && getItem(tracks[0])?.popularity">{{ getItem(item)?.popularity }}</td>
        <td>{{ msToTime(getItem(item)?.duration_ms) }}</td>
        <td *ngIf="!hideOptions" style="white-space: nowrap">
          <a *ngIf="searchIdFromFavorites(getItem(item)?.id); else notFavorite"
            class="mr-4" href="javascript:" (click)="removeTrack(getItem(item)?.id)"><i class="material-icons-outlined">favorite</i></a>
          <ng-template #notFavorite>
            <a class="mr-4" href="javascript:" (click)="savedTrack(getItem(item)?.id)"><i class="material-icons-outlined">favorite_border</i></a>
          </ng-template>
          <span class="dropdown mr-5">
            <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons-outlined">share</i></a>
            <div class="dropdown-menu dropdown-menu-right mt-2 py-3 mr-1" (click)="stopPropagation($event)">
              <a class="dropdown-item" href="javascript:">
                <small><i class="fa fa-facebook mr-2"></i>Facebook</small>
              </a>
              <a class="dropdown-item" href="javascript:">
                <small><i class="fa fa-twitter mr-2"></i>Twitter</small>
              </a>
            </div>
          </span>
          <span class="dropdown">
            <a href="javascript:" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons-outlined">more_vert</i></a>
            <div class="dropdown-menu dropdown-menu-right mt-2 py-3 mr-1" (click)="stopPropagation($event)">
              <a class="dropdown-item" href="javascript:"><small>Add to queue</small></a>
              <a class="dropdown-item" href="javascript:">
                <small class="dropdown-toggle" data-toggle="dropdown">Add to Playlist</small>
                <ul class="dropdown-menu border-0 shadow">
                  <li><a href="#" class="dropdown-item">level 2</a></li>
                  <li><a href="#" class="dropdown-item">level 2</a></li>
                </ul>
              </a>
              <a class="dropdown-item" href="javascript:"><small>Go to song radio</small></a>
              <a class="dropdown-item" [routerLink]="['/artists', getItem(item)?.artists[0]?.id]"><small>Go to artist</small></a>
              <a class="dropdown-item" *ngIf="getItem(item)?.album" [routerLink]="['/albums', getItem(item)?.album?.id]"><small>Go to album</small></a>
              <a class="dropdown-item" href="javascript:"><small>Show credits</small></a>
            </div>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="tracklist-mobile">
    <div *ngFor="let item of tracks; index as i;"
      [class]="getItem(item)?.id == currentTrackId ? 'active-track' : ''"
      (click)="rowClick(contextUri, uris, getItem(item).uri); select($event);">
      <pre>{{ item|json }}</pre>
    </div>
  </div>
</div>
