<div class="side-bar scrollbar pb-0 border-right">
  <ul class="main-menu list-group py-3 px-2" style="min-width: 300px; min-height: calc(100vh - 76px);">

    <li class="list-group-item border-0 px-2 py-1"><a routerLink="/discover" routerLinkActive="activated" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">whatshot</i>        Discover</a></li>
    <li class="list-group-item border-0 px-2 py-1"><a routerLink="/songs"    routerLinkActive="activated" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">favorite_border</i> Your Tracks</a></li>
    <li class="list-group-item border-0 px-2 py-1"><a routerLink="/albums"   routerLinkActive="activated" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">library_books</i>   Albums</a></li>
    <li class="list-group-item border-0 px-2 py-1"><a routerLink="/artists"  routerLinkActive="activated" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">person</i>          Artists</a></li>
    <li class="list-group-item border-0 px-2 py-1"><a routerLink="/history"  routerLinkActive="activated" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">history</i>         Recent History</a></li>

    <!--
    <p class="pl-3 ml-1 mt-4"><small><b>My Tracks</b></small></p>

    <li class="list-group-item border-0 px-2 py-1"><a href="#" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">thumb_up</i>       Favourite</a></li>
    <li class="list-group-item border-0 px-2 py-1"><a href="#" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">cloud_download</i> Download Items</a></li>
    <li class="list-group-item border-0 px-2 py-1"><a href="#" class="d-flex text-secondary border-radius p-2"><i class="material-icons-outlined mr-3">folder</i>         Local Files</a></li>
    -->

    <p *ngIf="playlists" class="pl-3 ml-1 mt-4"><small><b>Playlist</b></small></p>

    <li *ngFor="let item of playlists" class="list-group-item border-0 px-2 py-1">
      <a [routerLink]="['/playlist', item.id]"  routerLinkActive="activated" class="d-flex text-secondary border-radius p-2">
        <i class="material-icons-outlined mr-3">playlist_play</i>
        {{ item.name }}
      </a>
    </li>

  </ul>
</div>
