<div class="albums-list box-items scrollbar d-flex mt-3">
  <div *ngFor="let item of albums" class="box-item">
    <div class="box-item-img">
      <div>
        <a href="javascript:" (click)="playTrack(item.uri, null, null)"
          class="position-relative w-100 h-100 d-flex align-items-center justify-content-center color-black">
          <i class="material-icons-outlined">play_circle_filled</i>
        </a>
      </div>
      <img src="{{ item?.images[0].url }}">
    </div>
    <div class="box-item-details">
      <p class="box-item-details-title mt-3 mb-0">
        <small><a class="color-black" [routerLink]="['/albums', item.id]"><b>{{ item.name }}</b></a></small>
      </p>
      <p class="box-item-details-artists my-0 text-secondary">
        <small><a class="text-secondary" [routerLink]="['/artists', item.artists[0]?.id]">{{ item.artists[0]?.name }}</a></small>
      </p>
      <p class="box-item-details-artists my-0 text-secondary">
        <small>
          {{ item.release_date | date:'yyyy' }}
          <span *ngIf="item.album_type !== 'single'; else notSingle">
            &middot; {{ item.total_tracks }} Tracks
          </span>
          <ng-template #notSingle>
            &middot; {{ item.album_type | titlecase }}
          </ng-template>
        </small>
      </p>
    </div>
  </div>
</div>